/* 992 

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

 1. ROOT
 2. GENERIC
 3. TYPOGRAPHY
 4. HEADINGS
 5. LINKS
 6. BUTTONS
 7. FIGURES & IMAGES
 8. HEADER — header[role="banner"]
 9. NAVIGATION — nav[role="navigation"]
10. MAIN AREA — div[role="main"]
11. MAIN CONTENT
12. COMPLIMENTARY — div[role="complementary"]
13. CONTENTINFO — footer[role="contentinfo"]
14. GENERIC OBJECTS
15. TEMPLATE SPECIFICS
16. TABLES
17. FORMS (See css/mylibs/forms.css)
18. NOTIFICATIONS & ERRORS
19. ADMIN
MODERNIZR
*/

/********************************/ 
/*  1. ROOT                     */ 
/********************************/

/********************************/ 
/*  2. GENERIC                  */ 
/********************************/

/********************************/ 
/*  3. TYPOGRAPHY               */ 
/********************************/

/********************************/ 
/*  4. HEADINGS                 */ 
/********************************/

/********************************/ 
/*  5. LINKS                    */ 
/********************************/

/********************************/ 
/*  6. BUTTONS                  */ 
/********************************/

/********************************/ 
/*  7. FIGURES & IMAGES         */ 
/********************************/

/********************************/ 
/*  8. HEADER                   */ 
/********************************/

/********************************/ 
/*  9. NAVIGATION               */ 
/********************************/

/********************************/ 
/*  10. MAIN AREA               */ 
/********************************/

/********************************/ 
/*  11. MAIN CONTENT            */ 
/********************************/

/********************************/ 
/*  12. COMPLIMENTARY           */ 
/********************************/

/********************************/ 
/*  13. CONTENT INFO FOOTER     */ 
/********************************/

/********************************/ 
/*  14. GENERIC OBJECTS         */ 
/********************************/

/********************************/ 
/*  15. TEMPLATE SPECIFICS      */ 
/********************************/

/********************************/ 
/*  16. TABLES                  */ 
/********************************/

/********************************/ 
/*  17. FORMS                   */ 
/********************************/

/********************************/ 
/*  18. NOTIFICATIONS & ERRORS  */ 
/********************************/

/********************************/ 
/*  19. ADMIN                   */ 
/********************************/
/********************************/ 
/*  MODERNIZR                   */ 
/********************************/